.head p{
    color:white;
    font-size: 20px;
    font-weight: 300;
    width:1200px;
    text-align: center;
    line-height: 45px;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.head img{
    width: 1200px;
}
.team h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.team img{
    width: 1200px;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teammem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap:25px;
}
.mem img{
    width:230px;
    border-radius: 20px;
    border: none;
    box-shadow: 
    0 0 151px #9200baad;
    transition: 0.5s;
}
.mem img:hover{
    box-shadow: none;
    transition: 0.5s;
}
.mem h2{
    color:white;
    font-weight: 300;
    font-size: 15px;
}
.mem{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer img{
    width: 98%;
  }
  @media screen and (max-width: 550px){
    .head h1{
        font-size: 22px;
        margin: 60px;
    }
    .head img{
        width:450px;
    }
    .head p{
        font-size: 13px;
        width:350px;
        line-height: 30px;
    }
    .team h1{
        font-size: 22px;
    }
    .team img{
        width: 450px;
    }
    .teammem img{
        width:230px;
    }
    .teammem{
        flex-direction: column;
    }
  }