.forgot-password-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forgot-password-container h2 {
  text-align: center;
  color: #691fa2;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
}

.forgot-password-container p{
    color:#6d6d6d;
    font-family: "Poppins";
}

input {
  padding: 15px;
  margin: 10px 0;
  border: 1.5px solid #691fa2;
  border-radius: 40px;
  font-size: 16px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

